* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  max-width: 1366px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  overflow-x: hidden; }

img {
  display: block; }

.hero__wrapper {
  padding: 30px 97px;
  background-image: url("../img/header-bg.jpg");
  background-size: cover; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__items {
    text-align: right;
    padding: 0;
    list-style: none; }
  .nav__item {
    position: relative;
    display: inline-block;
    margin: 0 14px;
    border-radius: 15px;
    cursor: pointer; }
    .nav__item::after {
      position: absolute;
      content: "";
      display: none;
      width: 100%;
      height: 100%;
      padding: 5px 15px;
      top: -5px;
      left: -16px;
      border: 1px solid #fff;
      border-radius: 15px;
      z-index: 0; }
    .nav__item:hover::after {
      display: block; }
    .nav__item--margin {
      margin-right: 0; }
  .nav__link {
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    z-index: 2; }

.headline {
  padding-bottom: 59px;
  text-align: center; }
  .headline__title {
    margin-bottom: 30px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .headline__subtitle {
    display: block;
    width: 480px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #81868e; }

.header {
  position: relative;
  padding: 174px 0 300px;
  text-align: center;
  color: #fff; }
  .header__title, .header__subtitle {
    color: #fff; }
  .header__title {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 7px;
    text-transform: uppercase; }
  .header__subtitle {
    display: block;
    width: 620px;
    margin: 0 auto;
    line-height: 28px;
    letter-spacing: 1px; }
  .header__scroll {
    position: absolute;
    left: 568px;
    bottom: 46px;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    background: #19bd9a; }
  .header__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.portfolio {
  padding: 63px 123px 96px;
  background: #f3f3f3; }
  .portfolio__btns {
    text-align: center;
    padding: 14px 0 53px; }
  .portfolio__btn {
    text-align: center;
    margin: 0 10px 0 0;
    position: relative;
    font-size: 16px;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer; }
    .portfolio__btn::after {
      display: block;
      content: '';
      margin: 0 auto;
      margin-top: 10px;
      width: 40px;
      height: 3px;
      background: transparent; }
  .portfolio__container {
    width: 1120px;
    font-size: 0; }
  .portfolio__item {
    padding: 5px; }

.is-active::after {
  background: #19bd9a; }

.team {
  padding: 54px 0 160px; }
  .team__slide {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .team__slider {
    padding: 0 169px 10px 170px; }
    .team__slider .slick-dots button::before {
      content: '';
      width: 8px;
      height: 8px;
      opacity: 1;
      border: 1px solid #19bd9a;
      border-radius: 50%; }
    .team__slider .slick-dots li.slick-active button:before {
      background: #19bd9a; }
    .team__slider .slick-dots {
      bottom: -70px;
      left: 5px; }
    .team__slider .slick-dots li {
      margin: 0; }
  .team__img {
    width: 30%; }
  .team__text {
    padding: 0 40px;
    margin: 0;
    width: 50%;
    max-height: 350px;
    text-align: right;
    overflow-y: scroll;
    overflow-x: hidden; }
    .team__text::-webkit-scrollbar {
      width: 5px; }
    .team__text::-webkit-scrollbar-thumb {
      background: #19bd9a; }
    .team__text::-webkit-scrollbar-track {
      background: transparent; }
  .team__name {
    margin: 23px 0 4px;
    color: #464646;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px; }
  .team__position {
    display: block;
    margin-bottom: 23px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: #81868e;
    text-transform: uppercase;
    font-style: italic; }
  .team__description {
    text-align: right;
    font-size: 14px;
    line-height: 25px;
    color: #81868e; }

.talks {
  padding: 52px 0 58px;
  text-align: center;
  background-image: url("../../img/contacts-bg.jpg");
  color: #fff; }
  .talks__title {
    margin-bottom: 28px;
    font-size: 20px;
    letter-spacing: 1px; }
  .talks__btn {
    padding: 8px 29px;
    border: 1px solid #fff;
    border-radius: 30px;
    background: transparent;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-decoration: none; }
    .talks__btn:hover {
      color: #000;
      background: #fff; }

.testim {
  padding: 53px 0 100px;
  background: #f3f3f3; }
  .testim__slide {
    margin-top: 2px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .testim__slider {
    width: 1170px;
    margin: 0 auto;
    padding: 47px 97px 116px;
    background: #fff; }
    .testim__slider .slick-dots button::before {
      content: '';
      width: 8px;
      height: 8px;
      opacity: 1;
      border: 1px solid #19bd9a;
      border-radius: 50%; }
    .testim__slider .slick-dots li.slick-active button:before {
      background: #19bd9a; }
    .testim__slider .slick-dots {
      bottom: 50px;
      left: 5px; }
    .testim__slider .slick-dots li {
      margin: 0; }
  .testim__text {
    padding: 0 10px 0 69px; }
  .testim__description {
    margin: 0 0 20px;
    color: #81868e;
    line-height: 28px;
    letter-spacing: 1px; }
  .testim__name {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #19bd9a; }
  .testim__position {
    font-size: 14px;
    text-transform: uppercase;
    color: #464646;
    letter-spacing: 1px; }

.contacts {
  padding: 51px 0 72px; }

#js-map {
  width: 100%;
  height: 446px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer__logo {
    margin-bottom: 20px; }
  .footer__copyright {
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #81868e; }
  .footer__socials {
    padding: 0;
    list-style: none;
    text-align: center; }
  .footer__item {
    display: inline-block;
    margin: 0 3px; }
  .footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px solid transparent;
    background: #3b5998;
    border-radius: 50%; }
    .footer__link:hover {
      opacity: .8; }
  .footer__icon {
    width: 13px;
    height: 14px; }
