.portfolio__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.portfolio__container {
  width: 1120px;
  margin: 0 auto;
  font-size: 0; }

.portfolio__item {
  padding: 5px; }
