// Variables

// Fonts
$font-openSans: 'Open Sans', sans-serif;
$font-sourceSans: 'Source Sans Pro', sans-serif;

// Color
$color-white: #fff;
$color-white--dark: #f3f3f3;
$color-black: #000;
$color-gray: #81868e;
$color-gray--dark: #464646;
$color-green: #19bd9a;
$color-blue: #3b5998;